.image-front
{

}

.logo-site
{
    width:60px;
    height:60px;
    margin-left:20px;
}

#image-access
{
    position:absolute;
    z-index: -10;
    height:100%;
    width:150%;
    min-width:800px;
    min-height: 1200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
}


#front-welcome 
{
   margin-bottom: 5%;
}

.front-welcome-text h1
{
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.front-welcome-text h4
{
    font-size:20px;
    font-style: italic;
}

.front-welcome-text 
{
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    color: #EEE;
    text-align: left;
    text-shadow: black 0 1px 2px;
}

/*******************************************************************************
login form
*********************************************************************************/


#submit_login
{
    margin-bottom: 10px;
}

/*******************************************************************************
footer access page
*********************************************************************************/

footer.inline-list 
{
    margin-left: 0;
    background-color: transparent;
}

footer a
{
    background-color: transparent;
}