.hero-unit
{
    padding:30px;
    margin-top: 20px;
}

#new-event-btn
{
    margin-top: 40px;
}

#calendar-events
{
    margin-top: 40px;
}

#add_event
{
    margin:auto;
}

.form-excep-submit
{
    margin:auto;
    width: 50%;
}

#add_event input[type="submit"]
{
    margin-top: 50px;
}

a.add-event-button
{
    float:right;
}

#map_canvas, #map
{
    width: 300px;
    height: 300px;
}

/*
================================================================================
one event page
================================================================================
*/

div[data-role="page"].ui-page
{
    background: #F2F2F2;
    height: 100%;
}

div[data-role="content"].ui-content
{
    height: 90%;
}

div.row-block
{
    height: 30%;
    padding:1%;
}

#user-image
{
    float: right;
    width:40%;
}

.icon-category
{
    float:none;
    position:relative;
}

#upper-block
{
    height:auto;
}

#items-central-block
{
    padding:3%;
    height:50%
}

#specific-properties
{
    padding: 5% 3% 3% 10%;
    
}

.date
{
   padding: 0;
   margin: 0; 
   display:inline;
}

#year-header,#month-header,#day-header
{
    display: block;
}

#day-header
{
    font-size: 5em;
    display:inline;
}

#month-day
{
    display:inline-block;
    text-align: left;
    margin-left: 1em;
}



#month-header,#weekday-header
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#month-header
{
    font-size: 1.7em;
}

#weekday-header
{
    font-size: 1em;
    font-weight: bold;
}



