.hero-unit
{
    padding:30px;
    margin-top: 20px;
}

#new-event-btn
{
    margin-top: 40px;
}

#calendar-events
{
    margin-top: 40px;
}

#add_event
{
    margin:auto;
}

.form-excep-submit
{
    margin:auto;
    width: 50%;
}

#add_event input[type="submit"]
{
    margin-top: 50px;
}

a.add-event-button
{
    float:right;
}

#map_canvas, #map,.google_map
{
    width: 300px;
    height: 300px;
}


/*
================================================================================
graphs for stats on events
================================================================================
*/
#chart_div
{
    margin: auto;
    max-width: 1000px;
    width: 10%;
}

.ui-datebox-griddate
{
    width: 13%;
    font-size:16px;
}

.ui-datebox-container 
{
    width:99%
}



/*
================================================================================
one event page
================================================================================
*/

div[data-role="page"].ui-page
{
    background: #F2F2F2;
    height: 100%;
}

div[data-role="content"].ui-content
{
    height: 90%;
}

div.row-block
{
    height: 30%;
    padding:1%;
}

.user-image
{
    width:70%;
    min-width: 90px;
    max-width: 250px;
    float:right;
    cursor: pointer;
}

.image-full-page
{
    width:100%;
}

.icon-category
{
    float:none;
    position:relative;
    max-width: 20px;
    margin-left:10px
}

#upper-block
{
    height:auto;
}

#items-central-block
{
    padding:3%;
    height:50%
}

#specific-properties
{
    padding: 5% 3% 3% 2%;
    
}

.date
{
   padding: 0;
   margin: 0; 
   display:inline;
}

#year-header,#month-header,#day-header
{
    display: block;
}

#day-header
{
    display:inline;
    font-size: 3em;
}

#month-day
{
    display:inline-block;
    text-align: left;
    margin-left: 1em;
}


#month-header,#weekday-header
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#month-header
{
    font-size: 1.2em;
}

#weekday-header
{
    font-size: 1em;
    font-style: italic;
}

#buttons-lower-block
{
    text-align: center;
}

/* Large desktop 
@media (min-width: 1200px) { div,h1{border:5px solid blue;} }

/* Portrait tablet to landscape and desktop 
@media (min-width: 768px) { div,h1{border:5px solid green;} }

/* Landscape phone to portrait tablet 
@media (max-width: 767px) { div,h1{border:5px solid red;} }

/* Landscape phones and down 
@media (max-width: 480px) { div,h1{border:5px solid black;} }

*/

/*
================================================================================
welcome and help presentation
================================================================================
*/
#title-description
{
    margin-top:50px;
}

.img-widget-help
{
    width: 30%;
    
}

.btn-explanation
{
    margin-left:20px;
}
/*
================================================================
GPS icon (event view and event line view
================================================================
*/

img.icon-gps
{
    cursor: pointer;
}


/*
================================================================
eventcreate / form element : tags
================================================================
*/

.li-tags
{
    margin-left: 1em;
    
}



/*
================================================================
eventcreate / title and date in title
================================================================
*/

h1.title_event_form.ui-title
{
    margin:5px;
    padding:0;
    line-height: 15px;
}
.title_event_form a.button_date
{
    font-size: 14px;
    text-decoration: none;
    margin:0;
    color:white;
    
}

.title_event_form a.button_date:hover
{
    color:white;
}

a.button_date
{
    cursor: pointer;
}

.title_event_form span
{
    font-size: 18px;
    margin:0;
}

form pre
{
    font-size: 9px;
}

/* plus button for more options next to input*/
img.button-option-plus,img.button-option-gps
{
    position:relative;
    margin-left: 15px;
    max-height: 25px;
    max-width: 25px;
    cursor: pointer;
}


/*
================================================================================
event line display
================================================================================
*/

li.event-line a.ui-link-inherit.event-line-link
{
    padding-top: 0;
    padding-bottom: 0.15em;
    padding-left: 90px;
}

p.sub-line-property
{
    min-height: 8px;
    margin:0;
    
    
}

.sub-line-date
{
    margin-bottom:25px;
    font-size: 14px;
    
}
/*
================================================================================
calendar view
================================================================================
*/

a.calendar-event-date, a.calendar-noevent-date 
{
    text-decoration: none;
}

a.calendar-noevent-date 
{
    cursor: pointer;
}