.hero-unit
{
    padding:30px;
    margin-top: 20px;
}

#new-event-btn
{
    margin-top: 40px;
}

#calendar-events
{
    margin-top: 40px;
}

#add_event
{
    margin:auto;
}

.form-excep-submit
{
    margin:auto;
    width: 50%;
}

#add_event input[type="submit"]
{
    margin-top: 50px;
}

a.add-event-button
{
    float:right;
}

#map_canvas, #map
{
    width: 300px;
    height: 300px;
}


/*
================================================================================
graphs for stats on events
================================================================================
*/
#chart_div
{
    margin: auto;
    max-width: 1000px;
    width: 10%;
}

.ui-datebox-griddate
{
    width: 13%;
    font-size:16px;
}

.ui-datebox-container 
{
    width:99%
}



/*
================================================================================
one event page
================================================================================
*/

div[data-role="page"].ui-page
{
    background: #F2F2F2;
    height: 100%;
}

div[data-role="content"].ui-content
{
    height: 90%;
}

div.row-block
{
    height: 30%;
    padding:1%;
}

#user-image
{
    width:70%;
    min-width: 90px;
    max-width: 250px;
    float:right;
}

.icon-category
{
    float:none;
    position:relative;
    max-width: 20px;
    margin-left:10px
}

#upper-block
{
    height:auto;
}

#items-central-block
{
    padding:3%;
    height:50%
}

#specific-properties
{
    padding: 5% 3% 3% 2%;
    
}

.date
{
   padding: 0;
   margin: 0; 
   display:inline;
}

#year-header,#month-header,#day-header
{
    display: block;
}

#day-header
{
    display:inline;
    font-size: 3em;
}

#month-day
{
    display:inline-block;
    text-align: left;
    margin-left: 1em;
}


#month-header,#weekday-header
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#month-header
{
    font-size: 1.2em;
}

#weekday-header
{
    font-size: 1em;
    font-style: italic;
}



/* Large desktop 
@media (min-width: 1200px) { div,h1{border:5px solid blue;} }

/* Portrait tablet to landscape and desktop 
@media (min-width: 768px) { div,h1{border:5px solid green;} }

/* Landscape phone to portrait tablet 
@media (max-width: 767px) { div,h1{border:5px solid red;} }

/* Landscape phones and down 
@media (max-width: 480px) { div,h1{border:5px solid black;} }

*/
/*
================================================================================
event index : graphs
================================================================================
*/

#containerslider
{
    height: 300px; 
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}