Deny from all
Allow from 91.64.221.96
Allow from 82.225.161.105

SetEnv APPLICATION_ENV staging
AddDefaultCharset utf-8
Options -MultiViews
RewriteEngine ON
RewriteBase /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
